Repository stefanodo/github-mcp-pro: changes, and which pre-commit hooks are due for each by the changed paths.
All: ruff-check, bandit-security

ruff-check:
  name: ruff (lint)
  entry: python -m ruff check --fix --extend-ignore=F541,E741
  language: system

bandit-security:
  name: bandit (security)
  entry: bandit -q -s B104 -x tests
  language: system

chore: add weekly dependabot updates
  .github/dependabot.yml
Due: none

chore: add weekly dependabot updates (#25)
  .github/dependabot.yml
Due: none

fix: pin fastmcp and py-key-value-aio versions in requirements.txt
  requirements.txt
Due: none

chore: update platformdirs to 4.9.2 and py-key-value-aio to 0.4.2 (Dependabot safe updates)
  requirements.txt
Due: none

fix: revert py-key-value-aio to 0.3.0 for compatibility with fastmcp 2.14.5
  requirements.txt
Due: none

chore: update platformdirs and py-key-value-aio (Dependabot safe updates) (#29)
  requirements.txt
Due: none

Implement multi-tenant OAuth, UI improvements, and session handling
  README-multitenant.md
  main.py
Due: ruff-check, bandit-security

Suppress Bandit B106 warning for OAuth access_token_url (false positive)
  main.py
Due: ruff-check, bandit-security

Clarify dependency install order before security self-check in workflow
  .github/workflows/code-security.yml
Due: none

Ensure FastAPI is installed and use python -m for security self-check in workflow
  .github/workflows/code-security.yml
Due: none

Combine dependency install, FastAPI check, and pip freeze in workflow for consistent environment
  .github/workflows/code-security.yml
Due: none

Add fastapi to requirements.txt for CI/CD and local installs
  requirements.txt
Due: none

Loosen version pins for anyio, fastapi, and starlette to fix dependency conflicts
  requirements.txt
Due: none

Add itsdangerous to requirements.txt for starlette/FastAPI session support
  requirements.txt
Due: none

Set dummy GITHUB_CLIENT_ID and GITHUB_CLIENT_SECRET for security self-check in CI
  .github/workflows/code-security.yml
Due: none

Restore GITHUB_TOKEN guard for security self-check and tests
  main.py
Due: ruff-check, bandit-security

Suppress Bandit B105 false positive for placeholder token check (#nosec)
  main.py
Due: ruff-check, bandit-security

Fix security_selfcheck: fully unset GITHUB_TOKEN for missing token test
  scripts/security_selfcheck.py
Due: ruff-check

Fix selfcheck: accept any missing token error for REQUIRE_MCP_AUTH test
  scripts/security_selfcheck.py
Due: ruff-check

Add guard: fail if REQUIRE_MCP_AUTH is true but MCP_AUTH_TOKEN is missing (for self-check)
  main.py
Due: ruff-check, bandit-security

Add _sanitize_error utility for error redaction (for security self-check)
  main.py
Due: ruff-check, bandit-security

Add StaticTokenVerifier class for security self-check compatibility
  main.py
Due: ruff-check, bandit-security

Set dummy GITHUB_CLIENT_ID and GITHUB_CLIENT_SECRET for CI scripts importing main.py
  .github/workflows/auto-pr-tools.yml
Due: none

Multi-tenant OAuth and UI improvements (#31)
  .github/workflows/auto-pr-tools.yml
  .github/workflows/code-security.yml
  README-multitenant.md
  main.py
  requirements.txt
  scripts/security_selfcheck.py
Due: ruff-check, bandit-security

Add and fix rate limiting with slowapi (60 req/min per IP on root endpoint)
  main.py
Due: ruff-check, bandit-security

chore: add slowapi to requirements.txt for rate limiting support
  requirements.txt
Due: none

fix: ensure GITHUB_TOKEN guard is only after env assignment, preventing NameError and enforcing security self-check
  main.py
Due: ruff-check, bandit-security

fix: fail import if GITHUB_TOKEN is missing or a placeholder (security self-check compliance)
  main.py
Due: ruff-check, bandit-security

fix: use exact error message for GITHUB_TOKEN guard to satisfy security self-check
  main.py
Due: ruff-check, bandit-security

fix: check for placeholder GITHUB_TOKEN before missing, to match security self-check expectations
  main.py
Due: ruff-check, bandit-security

fix: move REQUIRE_MCP_AUTH guard after env var assignment to prevent NameError
  main.py
Due: ruff-check, bandit-security

fix: move MCP_AUTH_TOKEN guard to top for early import failure (security selfcheck compliance)
  main.py
Due: ruff-check, bandit-security

fix: call load_dotenv() before all env var guards for security selfcheck compliance
  main.py
Due: ruff-check, bandit-security

fix: remove duplicate imports; ensure dotenv and auth guard are first for security selfcheck
  main.py
Due: ruff-check, bandit-security

fix: treat empty or whitespace MCP_AUTH_TOKEN as missing for security selfcheck compliance
  main.py
Due: ruff-check, bandit-security

fix: add ci_selfcheck_token_value_67890 as GITHUB_TOKEN placeholder for security selfcheck compliance
  main.py
Due: ruff-check, bandit-security

fix: update GITHUB_TOKEN placeholder error message to match security selfcheck expectations
  main.py
Due: ruff-check, bandit-security

ci: add REQUIRE_MCP_AUTH=true to security self-checks for correct guard coverage
  .github/workflows/code-security.yml
Due: none

chore: commit all outstanding changes (security guards, workflow, and code cleanup)
  main.py
Due: ruff-check, bandit-security

set MCP_AUTH_TOKEN to a non-empty value when REQUIRE_MCP_AUTH is true
  main.py
Due: ruff-check, bandit-security

Path conditions:
  ruff-check: any of: \.py$
  bandit-security: any of: ^main\.py$ and \.py$
