Repository stefanodo/github-mcp-pro: changes, and which pre-commit hooks are due for each by the changed paths.
All: ruff-check, bandit-security

.pre-commit-config.yaml:

repos:
  - repo: local
    hooks:
      - id: ruff-check
        name: ruff (lint)
        entry: python -m ruff check --fix --extend-ignore=F541,E741
        language: system
        types: [python]

      - id: bandit-security
        name: bandit (security)
        entry: bandit -q -s B104 -x tests
        language: system
        types: [python]
        files: ^main\.py$

      - id: detect-secrets-baseline
        name: detect-secrets (baseline)
        entry: detect-secrets-hook --baseline .secrets.baseline
        language: system

      - id: gitleaks-local
        name: gitleaks (staged)
        entry: >-
          bash -c 'if command -v gitleaks >/dev/null 2>&1; then gitleaks protect --staged --redact --config .gitleaks.toml; elif command -v docker >/dev/null 2>&1; then docker run --rm -v "$PWD:/repo" -w /repo zricethezav/gitleaks:latest detect --source . --no-git --redact --config .gitleaks.toml; else echo "gitleaks is required (install binary or Docker)"; exit 1; fi'
        language: system
        pass_filenames: false

fix: run error redaction and token verifier tests in safe env to avoid guard trigger
  scripts/security_selfcheck.py
Due: ruff-check

fix: set GITHUB_TOKEN in subprocess env for error redaction and token verifier tests
  scripts/security_selfcheck.py
Due: ruff-check

Add rate limiting to API endpoints (slowapi) (#33)
  .github/workflows/code-security.yml
  main.py
  requirements.txt
  scripts/security_selfcheck.py
Due: ruff-check, bandit-security

Fix lint errors
  .github/workflows/auto-pr-tools.yml
Due: none

Add stubs for review_pr and assess_pr_risk
  main.py
Due: ruff-check, bandit-security

Fix function call for review_pr and assess_pr_risk
  .github/workflows/auto-pr-tools.yml
Due: none

Fix lint errors (#34)
  .github/workflows/auto-pr-tools.yml
  main.py
Due: ruff-check, bandit-security

add fix issue agent to project
  .github/agents/fix-issue.agent.md
  .github/workflows/auto-issue-triage.yml
  README.md
  main.py
Due: ruff-check, bandit-security

fix warning
  main.py
  tests/test_main_security.py
Due: ruff-check, bandit-security

fix again
  requirements.txt
Due: none

fix: update action versions in workflows
  tests/test_pr_tools.py
Due: ruff-check

fix: Update PyJWT to version 2.12.0 in requirements.txt
  requirements.txt
Due: none

fix PR review to approve when no critical findings
  main.py
  tests/test_pr_tools.py
Due: ruff-check, bandit-security

fix behaviour of checkout action in workflows to avoid issues with gi… (#38)
  .github/workflows/auto-pr-tools.yml
  .github/workflows/code-security.yml
  .github/workflows/dependency-security.yml
  .github/workflows/fly-deploy.yml
  .github/workflows/publish-mcp.yml
  .github/workflows/secret-security.yml
  main.py
  requirements.txt
  scripts/security_selfcheck.py
  tests/test_main_security.py
  tests/test_pr_tools.py
Due: ruff-check, bandit-security
